# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# awvic folder ignore files.
build/CMakeFiles/
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
bin/awvic*
!bin/awvic.ini
bin/*.dll
bin/log.txt
bin64/awvic*
!bin64/awvic.ini
bin64/*.dll
bin64/log.txt
bin64/icu*
src/*~
src/*sublime-workspace
vc2012/awvic/Debug
vc2012/awvic/Release
vc2012/awvic/*sdf
vc2013/awvic/Debug
vc2013/awvic/Release
vc2013/awvic/x64
vc2013/awvic/*sdf
vc2013/awvic/*suo
bin/testcase/huge*
test/Debug
test/testcase
test/*obj
test/*exe
test/*sdf
test/*suo
test/*sln
test/*vcxproj*
test/*dll
test/__pycache__/
test/cl
test/src/huge*
